.container-combustivel {
  width: 400px;
  margin: 60px auto;
  padding: 28px;
  border-radius: 16px;
  background-color: #ffeede;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 10px;
  font-weight: 600;
  font-size: 15px;
  background-color: #633d2d;
  color: white;
  cursor: pointer;
  transition: 0.2s ease;
}
button:hover {
  background-color: #794a26;
  box-shadow: 0 6px 15px rgba(255, 140, 0, 0.25);
}
button:active {
  transform: scale(0.97);
}
input {
  width: 100%;
  padding: 14px 12px;
  border-radius: 8px;
  border: 1px solid #ddd;
  font-size: 15px;
  box-sizing: border-box;
  transition: 0.2s ease;
  margin-bottom: 15px;
}