.api-container {
  width: 380px;
  margin: 60px auto;
  padding: 28px;
  border-radius: 16px;
  background-color: #ffeede;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.api-container h2 {
  margin-bottom: 20px;
  color: #000000;
}

.btn-gato {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 10px;
  font-weight: 600;
  font-size: 15px;
  background-color: #d49a64;
  color: white;
  cursor: pointer;
  transition: 0.2s ease;
}

.btn-gato:hover {
  background-color: #df9148;
  box-shadow: 0 6px 15px rgba(5, 50, 134, 0.25);
}

.btn-gato:active {
  transform: scale(0.97);
}

.status {
  margin-top: 16px;
  font-size: 14px;
  color: #444;
}

.imagem-gato {
  width: 250px;
  margin-top: 18px;
  border-radius: 14px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.12);
  display: none;
}